/TestJDBC/nbproject/private/
/TestJDBC/build/
/TestJDBC/dist/
/TestXML/nbproject/private/
/TestXML/build/
/TestXMLReader/nbproject/private/
/TestXMLReader/build/
/TestXMLWriter/nbproject/private/
/TestXMLWriter/build/
/DBCrud/nbproject/private/
/DBCrud/build/
/DBCrud/dist/
/DBCrud2/nbproject/private/
/DBCrud2/build/
